# **SOAR Data Cleaning**

In [1]:
import pandas as pd # import pandas library

In [17]:
# grab and print the merged soar dataset
df = pd.read_csv('SOARdata_merged9.csv')
df.head()

,Author,Title,Subject,Abstract,Date,Department,Publisher,Relation,Sponsorship,Language,Type,ID,Random value
0,"Rimmington, Glyn M.",Effects of added organic matter and water on s...,"Fine-root, Growth, Climate-change, Microbial a...",It is generally predicted that global warming ...,2013.0,NaN,PLoS ONE,PLoS ONE;v.8:no.7:article no.e70224,China National Key Basic Research Program (200...,en_US,Article,NaN,0.743792
1,"Miles, William",Do inflation targeting handcuffs restrain levi...,Exchange-rates,Inflation targeting has been increasingly adop...,2007.0,NaN,Taylor & Francis,Applied Economics Letters;v.14:no.9,NaN,en_USen_US,Article,NaN,0.604875
2,"Stoyanov, Stanislav R.",Computational and spectroscopic studies of Re(...,NaN,Density Functional Theory (DFT) calculations p...,2005.0,NaN,American Chemical Society,Journal of Chemical Theory and Computation;v.1...,NaN,en_US,Article,NaN,0.918749
3,"Prodromou, Theodosia",Integrating mathematics and science to explain...,"Educational comics, Socioscientific issues, Sc...",Integrating socioscientific issues (SSI) into ...,2023.0,NaN,Routledge,Journal of Graphic Novels and Comics,This publication received support from the Joh...,en-USen-US,Article,NaN,0.445301
4,"Hanna, K. M.",Effect of nurse-client transaction on female a...,"Clinical Trial, Randomized Controlled Trial, A...",An experimental study was conducted to test th...,1993.0,Wichita State University. School of Nursing,Wiley-Blackwell Publishing,Image--The Journal of Nursing Scholarship||Ima...,NaN,eng,Article,NaN,0.595009

In [23]:
df.head() #Viewing the head of the dataframe

,Author,Title,Subject,Abstract,Date,Department,Publisher,Relation,Sponsorship,Language,Type,ID,Random value
0,"Rimmington, Glyn M.",Effects of added organic matter and water on s...,"Fine-root, Growth, Climate-change, Microbial a...",It is generally predicted that global warming ...,2013.0,NaN,PLoS ONE,PLoS ONE;v.8:no.7:article no.e70224,China National Key Basic Research Program (200...,en_US,Article,NaN,0.743792
1,"Miles, William",Do inflation targeting handcuffs restrain levi...,Exchange-rates,Inflation targeting has been increasingly adop...,2007.0,NaN,Taylor & Francis,Applied Economics Letters;v.14:no.9,NaN,en_USen_US,Article,NaN,0.604875
2,"Stoyanov, Stanislav R.",Computational and spectroscopic studies of Re(...,NaN,Density Functional Theory (DFT) calculations p...,2005.0,NaN,American Chemical Society,Journal of Chemical Theory and Computation;v.1...,NaN,en_US,Article,NaN,0.918749
3,"Prodromou, Theodosia",Integrating mathematics and science to explain...,"Educational comics, Socioscientific issues, Sc...",Integrating socioscientific issues (SSI) into ...,2023.0,NaN,Routledge,Journal of Graphic Novels and Comics,This publication received support from the Joh...,en-USen-US,Article,NaN,0.445301
4,"Hanna, K. M.",Effect of nurse-client transaction on female a...,"Clinical Trial, Randomized Controlled Trial, A...",An experimental study was conducted to test th...,1993.0,Wichita State University. School of Nursing,Wiley-Blackwell Publishing,Image--The Journal of Nursing Scholarship||Ima...,NaN,eng,Article,NaN,0.595009

Notice how in above dataset the dates columns use different formats, and some of the values in the Language column have 'en_US' duplicated (see row 5861). We should figure out how to make those values more consistent and nice - that's what I mean by data cleaning.

## Print column names - we can go over which to keep/merge and remove

In [22]:
# print out all column names
for col in df.columns:
    print(col)

Author
Title
Subject
Abstract
Date
Department
Publisher
Relation
Sponsorship
Language
Type
ID
Random value

In [24]:
df.Date.info() #Getting info on a specific column

<class 'pandas.core.series.Series'>
RangeIndex: 20114 entries, 0 to 20113
Series name: Date
Non-Null Count  Dtype
--------------  -----
20113 non-null  float64
dtypes: float64(1)
memory usage: 157.3 KB

In [25]:
df['Author'].unique() #Check how many unique entries are in a column and what they are

array(['Rimmington, Glyn M.', 'Miles, William', 'Stoyanov, Stanislav R.',
       ..., 'Setlur, R.V.', 'Ricke, Steven C.', 'Gayle, J.'], dtype=object)

In [26]:
df.shape # print the number of rows and columns

(20114, 13)

In [27]:
df.dtypes # print the data type of each column

Author           object
Title            object
Subject          object
Abstract         object
Date            float64
Department       object
Publisher        object
Relation         object
Sponsorship      object
Language         object
Type             object
ID               object
Random value    float64
dtype: object

In [ ]:
# merge all language-related columns
lang_cols = ['dc.language.iso[spa]','dc.language.iso','dc.language.iso[]','dc.language.iso','dc.language.iso[en]', 'dc.language.iso[en_US]', 'dc.language[]']

def merge_columns(row):
    merged_values = ''
    for col in lang_cols:
        if pd.notnull(row[col]):
            merged_values += str(row[col])
    return merged_values

df['Language'] = df.apply(lambda row: merge_columns(row), axis=1)
df = df.drop(columns=lang_cols)
df.head()

In [ ]:
# filter to only deal with english publication
eng_filter = ['en_US', 'en-US', 'eng_US', 'en-USen-US', 'en_USen_US', 'en','eng']
df = df[df['Language'].isin(eng_filter)]

In [ ]:
df.dropna(how='all', axis=1, inplace=True) #drop empty columns
df

In [ ]:
#Creating a new column equal to another one and then deleting the old one to effectively rename it
df['dc.publisher'] = df['dc.publisher[en]']

In [ ]:
#notNaCount checks for overlap in non-null entries between two columns
notNaCount = (df['dc.subject'].notna() & df['dc.subject.classification'].notna()).sum()
print(notNaCount)

In [ ]:
#checking the number of non-null entries in a single column
notNaCount2 = (df['dc.date'].notna()).sum()
print(notNaCount2)

In [ ]:
#fillna can be used to automatically fill nan entries in one column with non-nan entries (if they exist) from another column
df['dc.subject'] = df['dc.subject'].fillna(df['dc.subject.classification'])

In [24]:
#The column passed into fillna can then be dropped, assuming any rows that have values in both columns have been accounted for. 
df = df.drop(columns=['Random value'])

In [ ]:
#unusualCells and unusualCells2 are used when two similar columns have different results for one or more entries
unusualCells = df[df['dc.subject'].notna() & df['dc.subject.classification'].notna()]

In [ ]:
unusualCells2 = unusualCells[['dc.subject', 'dc.subject.classification']] #Narrowing down unusualCells to only the relevant columns

In [ ]:
unusualCells2 #Viewing unusualcells2

In [ ]:
#Code for manually concatenating two values, done using indices obtained by viewing unusualCells2
df.at[5637,'dc.subject'] = df.at[5637,'dc.subject[en]'] + "||" + df.at[5637,'dc.subject']

In [ ]:
#Print code used to check the results of manually editing a value
print(df.at[4636,'dc.description.sponsorship'])

In [ ]:
#For loop to automatically concenatenate two fields
for i in unusualCells2.index:
    df.at[i,'dc.subject'] = df.at[i,'dc.subject'] + "||" + df.at[i,'dc.subject.classification']

In [19]:
for i in df.index: #This cell was used for reformatting the Date column to only hold years.
    if isinstance(df.at[i, 'Date'], str):
        if df.at[i, 'Date'].find("/", 3) > 0:
            df.at[i, 'Date'] = df.at[i, 'Date'][df.at[i, 'Date'].find("/", 3) + 1:]
#This cell can be changed to fix either the M/D/Y format or the Y-M format

In [9]:
for i in df.index: #This code is used to change the delimiter formatting in Author and Subject columns
    if isinstance(df.at[i, 'Author'], str):
        df.at[i, 'Author'] = df.at[i, 'Author'].replace("||", "|")
#For Author, the double pipe was changed into a single pipe which was later eliminated with the split operation
#For Subject, the double pipe was changed into a comma and space

In [12]:
df.Author = df.Author.str.split(pat='|') #Used to make each Author cell a List of strings

In [13]:
#Once Author is a List of strings, we can call the explode function to make every row contain only one author
df = df.explode('Author', True)

In [32]:
#Splitting a large dataframe into smaller subsets
#Before splitting, the order of columns was randomized using Microsoft Excel
df1 = df.iloc[0:4000]

In [33]:
df2 = df.iloc[4000:8000] #Same process as above
df3 = df.iloc[8000:12000]
df4 = df.iloc[12000:16000]
df5 = df.iloc[16000:]

In [38]:
df5.info() #Getting info on a newly-split dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4114 entries, 16000 to 20113
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Author       4114 non-null   object
 1   Title        4114 non-null   object
 2   Subject      3367 non-null   object
 3   Abstract     3869 non-null   object
 4   Date         4114 non-null   float64
 5   Department   519 non-null    object
 6   Publisher    4020 non-null   object
 7   Relation     4016 non-null   object
 8   Sponsorship  1308 non-null   object
 9   Language     4114 non-null   object
 10  Type         4111 non-null   object
 11  ID           139 non-null    object
dtypes: float64(1), object(11)
memory usage: 385.8+ KB

In [15]:
# export result as csv
df.to_csv('SOARdata_test.csv',index=False)

In [39]:
df1.to_csv('SOARdata_cleaned_set1.csv',index=False) #Exporting multiple results as csv
df2.to_csv('SOARdata_cleaned_set2.csv',index=False)
df3.to_csv('SOARdata_cleaned_set3.csv',index=False)
df4.to_csv('SOARdata_cleaned_set4.csv',index=False)
df5.to_csv('SOARdata_cleaned_set5.csv',index=False)